@font-face {
    font-family: Pop Happiness;
    font-weight: normal;
    src: url(https://aromakitsune.github.io/files/Wii-U/PopHappiness.ttf);
  }
  
  @font-face {
    font-family: Pop Happiness;
    font-weight: bold;
    src: url(https://aromakitsune.github.io/files/Wii-U/PopHappiness.ttf);
  }
